$bar-width: 35px;
$bar-height: 4px;
$bar-gap: 14px;

.hamburger {
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: relative;
  display: grid;
  place-items: center;
  justify-content: center;
  z-index: map-get($map: $z-index, $key: header);
  overflow: hidden;

  @include breakpoint(md) {
    display: none;
  }

  &--active {
    .hamburger {
      &__bar {
        background-color: transparent;

        &::before {
          transform: translateY(9px) rotate(45deg);
        }

        &::after {
          transform: translateY(-9px) rotate(-45deg);
        }
      }
    }
  }

  &__bar {
    display: block;
    border-radius: $border-radius-small;
    width: $bar-width;
    height: $bar-height;
    background-color: $c-tertiary;
    transition: background-color $transition-duration $transition-animation;

    &::before,
    &::after {
      border-radius: $border-radius-small;
      content: '';
      width: $bar-width;
      height: $bar-height;
      background-color: $c-tertiary;
      display: block;
      position: absolute;
      transition: transform $transition-duration $transition-animation;
    }

    &::before {
      top: $bar-gap;
    }

    &::after {
      bottom: $bar-gap;
    }
  }
}
