/* Global styles
****************************************** */

html {
  font-size: 62.5%; // 1rem => 10px
  box-sizing: border-box;
  height: fill-available;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: $font-size-base;
  font-family: $font-base;
  font-weight: 500;
  background-color: $c-pageBackground;
  color: $c-tertiary;
  min-height: fill-available;
  overflow-x: hidden;
}
