.short-bio {
  max-width: $wrapper;
  display: grid;
  margin: 0 auto;
  padding: 10rem 2rem;

  &__title {
    font-size: 4rem;
  }

  &__content {
    display: grid;
    place-items: center;
    gap: 5rem;
    font-size: 2.4rem;
    font-weight: 700;
    padding: 6rem 0;
  }

  &__avatar {
    border-radius: $border-radius-round;

    @include breakpoint(md) {
      grid-column: 1 / 2;
    }
  }

  &__description {
    @include breakpoint(md) {
      grid-column: 2 / span 4;
    }
  }

  &__twitter {
    color: $c-secondary;
  }

  &__more {
    padding-top: 6rem;
    text-align: center;

    @include breakpoint(md) {
      grid-column: 1 / span 5;
    }
  }

  &__more-info {
    margin-bottom: 2rem;
  }
}
