.header {
  padding: 1rem $padding-wrapper;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $wrapper;
    margin: 0 auto;
  }

  &__logo {
    width: 220px;

    @include breakpoint(xs) {
      width: 280px;
    }
  }
}
